# https://musical-artifacts.com/artifacts/433
Soundfonts/Touhou.sf2

# https://archive.org/details/SGM-V2.01
Soundfonts/SGM-V2.01.sf2

# https://archive.org/details/amg-260d-b / for whatever reason theres something wrong with the files that github doesnt like
Samples/AMG - 260dB