# https://musical-artifacts.com/artifacts/433
Soundfonts/Touhou.sf2

# https://archive.org/details/SGM-V2.01
Soundfonts/SGM-V2.01.sf2

# https://drive.google.com/file/d/1M7boBdBU98UflLwitM-ceGEdul58mFQk/view?gl=US&pli=1
Samples/jcportals_sample_pack

# https://drive.google.com/drive/folders/1sVfSOhDKW4nqGh22GteJ5j6qxr19vdST
Samples/Spectrasonics - Bizarre Guitar
